/* You can add global styles to this file, and also import other style files */
/*estilos generales*/

*{
    font-family: "Poppins", serif;
}

/* En src/styles.css */
link[rel="icon"] {
    border-radius: 50%;
    overflow: hidden;
}


/*** no quitar ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
  
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
  }
  
  .header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(255, 255, 255, .9);
    border-radius: 45px !important;
    transition: .5s;
  }
  
  .header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
  }
  
  .header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    border-radius: 45px !important;
    transition: .5s;
  }
  
  
  
  .breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
  }
  
  