
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a routerLink="/landing/home-dentist" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0 text-H1">ESTOMATOLOGÍA INTEGRAL</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a routerLink="/landing/home-dentist" class="nav-item nav-link active">Inicio</a>
                <a class="nav-link" routerLink="/landing/treatments-dentist" routerLinkActive="active">Tratamientos</a>
                
                <a class="btn btn-login rounded-0 py-4 px-lg-5 d-none d-lg-block" routerLink="/landing/about-us-dentist" routerLinkActive="active">Acerca de Nosotros <i class="fa fa-arrow-right ms-3"></i></a>
            </div>
          </div>
    </nav>
    <!-- Navbar End -->