<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/landing/home-cana">RPCA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" type="button">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/explore-cana" routerLinkActive="active">Explorar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/identify-cana" routerLinkActive="active">Identificar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/login-cana" routerLinkActive="active">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/register-cana" routerLinkActive="active">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a routerLink="/landing/home-cana" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0 text-H1">CANA</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a routerLink="/landing/home-cana" class="nav-item nav-link active">Home</a>
                <a class="nav-link" routerLink="/landing/explore-cana" routerLinkActive="active">Explorar</a>
                <a class="nav-link" routerLink="/landing/identify-cana" routerLinkActive="active">Identificar</a>
                <a class="nav-link" routerLink="/landing/login-cana" routerLinkActive="active">Iniciar Sesión</a>
            </div>
            <a class="btn btn-login rounded-0 py-4 px-lg-5 d-none d-lg-block" routerLink="/landing/register-cana" routerLinkActive="active">Registrarse <i class="fa fa-arrow-right ms-3"></i></a>
          </div>
    </nav>
    <!-- Navbar End -->